{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Atork: 미술 정보/펀드 사이트</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<link rel="shortcut icon" href="assets/img/mainlogo.ico">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="{% static 'fonts/fontawesome/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'fonts/pe-icon/pe-icon.css' %}">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="{% static 'vendors/bootstrap/grid.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'vendors/magnific-popup/magnific-popup.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'vendors/swiper/swiper.css' %}">
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"><!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="page-wrap">

			<!-- header -->
			<header class="header header--fixed">
				<div class="container">
					<div class="header__inner">
						<div class="header__logo"><a href="index.html"><img src="{% static 'img/logo2.png' %}" alt=""/></a></div>
						<div class="header__menu">

							<!-- onepage-nav -->
							<nav class="onepage-nav">

								<!-- onepage-menu -->
								<ul class="onepage-menu">
									<li class="current-menu-item"><a href="#id-1">홈</a>
									</li>
									<li><a href="#id-2">소개</a>
									</li>
									<li><a href="#id-3">문의</a>
									</li>
									<li><a href="#id-6">갤러리</a>
									</li>
								</ul><!-- onepage-menu -->

								<div class="navbar-toggle"><span></span><span></span><span></span></div>
							</nav><!-- End / onepage-nav -->

						</div>
					</div>
				</div>
			</header><!-- End / header -->

			<!-- Content-->
			<div class="md-content">

				<!-- hero -->
				<div class="hero" id="id-1" style="background-image: url('img/bg/3.jpg');">
					<div class="hero__wrapper">
						<div class="container">
							<div class="row">
								<div class="col-lg-8 ">
									<h1 class="hero__title">We are

										<!-- typing__module -->
										<div class="typing__module" data-options='{"typeSpeed":60}'>
											<div class="typed-strings"><span>Art</span><span>Finance</span><span>Tech</span>
											</div><span class="typed"></span>
										</div><!-- End / typing__module -->

									</h1>
									<p class="hero__text">미술품에 투자하는 더 현명한 방법</p>
								</div>
							</div>
							<a class="ghost-button-semi-transparent" href="#services">갤러리 입장</a>
						</div>
					</div>
				</div><!-- End / hero -->


				<!-- Section -->
				<section class="md-section bg-gray" id="id-2">
					<div class="container">
						<div class="row">
							<div class="col-lg-5 ">

								<!-- slide-image -->
								<div class="slide-image">

									<!-- swiper__module swiper-container -->
									<div class="swiper__module swiper-container slide-image__front" data-options='{"slidesPerView":1,"spaceBetween":0}'>
										<div class="swiper-wrapper">
											<div class="slide-item" style="background-image: url('assets/img/about/4.jpg');"></div>
											<div class="slide-item" style="background-image: url('assets/img/about/5.jpg');"></div>
											<div class="slide-item" style="background-image: url('assets/img/about/6.jpg');"></div>
										</div>
										<div class="swiper-pagination-custom"></div>
									</div><!-- End / swiper__module swiper-container -->


									<!-- swiper-thumbnails__module swiper-container -->
									<div class="swiper-thumbnails__module swiper-container slide-image__black" data-options='{"slidesPerView":1,"spaceBetween":0,"delay":10000}'>
										<div class="swiper-wrapper">
											<div class="slide-item" style="background-image: url('assets/img/about/4b.jpg');"></div>
											<div class="slide-item" style="background-image: url('assets/img/about/5b.jpg');"></div>
											<div class="slide-item" style="background-image: url('assets/img/about/3b.jpg');"></div>
										</div>
									</div><!-- End / swiper-thumbnails__module swiper-container -->

								</div><!-- End / slide-image -->

							</div>
							<div class="col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 ">

								<!-- title -->
								<div class="title">
									<h2 class="title__title">금융시장의 아이디어를 미술시장에 접목합니다.</h2>
								</div><!-- End / title -->

								<p class="fz-16">소액으로 미술품 투자를 시작 할 수 있습니다.</p>
								<p class="fz-16">메이저 경매와 아트페어의 거래기록, 코스피지수, 작가의 행보 등 통계화 된 데이터를 제공합니다.</p>
								<p class="fz-16">제공되는 데이터로 작품선택에 소모되는 시간과 비용을 최소화 할 수 있습니다.</p>
								<p class="fz-16">검증된 작가의 고가의 작품에 펀딩하여 투자적 가치의 기쁨을 맛보고,</p>
								<p class="fz-16">미술품이 주는 미적 가치를 향유하세요.</p>
							</div>
						</div>

						<!-- swiper__module swiper-container -->
						<div class="swiper__module swiper-container mt-50" data-options='{"slidesPerView":3,"spaceBetween":30,"autoplay":2000,"breakpoints":{"640":{"slidesPerView":1},"991":{"slidesPerView":2}}}'>
							<div class="swiper-wrapper">

								<!-- service -->
								<div class="service mb-0">
									<div class="service__icon"><i class="pe-7s-refresh-2"></i></div>
									<h3 class="service__title">미술시장 거래량</h3>
									<p class="service__text">작품의 거래액을 통계화합니다.</p>
								</div><!-- End / service -->


								<!-- service -->
								<div class="service mb-0">
									<div class="service__icon"><i class="pe-7s-users"></i></div>
									<h3 class="service__title">작가의 행보</h3>
									<p class="service__text">전시회 참여와 개인전, 해외경매 등의 여부를 반영합니다. </p>
								</div><!-- End / service -->


								<!-- service -->
								<div class="service mb-0">
									<div class="service__icon"><i class="pe-7s-news-paper"></i></div>
									<h3 class="service__title">갤러리 저널</h3>
									<p class="service__text">미술업계의 전문가들의 의견을 볼 수 있습니다.</p>
								</div><!-- End / service -->


								<!-- service -->
								<div class="service mb-0">
									<div class="service__icon"><i class="pe-7s-graph1"></i></div>
									<h3 class="service__title">경제 지표</h3>
									<p class="service__text">코스피와 코스닥, 미술시장 지수를 비교합니다.</p>
								</div><!-- End / service -->

							</div>
						</div><!-- End / swiper__module swiper-container -->

					</div>
				</section>
				<!-- End / Section -->

				<!-- Section -->
				<section class="md-section" id="id-3">
					<div class="container">
						<div class="row">
							<div class="col-lg-4 ">

								<!-- title -->
								<div class="title">
									<h2 class="title__title">직접 문의하기</h2>
								</div><!-- End / title -->

								<div class="mb-40">

									<!-- contact -->
									<div class="contact">
										<h3 class="contact__title">주소</h3>
										<div>용인 기흥구 덕영대로 1723, 경희대학교 국제캠퍼스</div>
									</div><!-- End / contact -->


									<!-- contact -->
									<div class="contact">
										<h3 class="contact__title">이메일</h3>
										<div><a href="">makeitpop@naver.com</a></div>
									</div><!-- End / contact -->


									<!-- contact -->
									<div class="contact">
										<h3 class="contact__title">연락처</h3>
										<div>+82 10 4752 9676</div>
									</div><!-- End / contact -->

								</div>
							</div>
							<div class="col-lg-7 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 ">

								<!-- title -->
								<div class="title">
									<h2 class="title__title">메세지 남기기</h2>
								</div><!-- End / title -->

								<div class="form-wrapper">

									<!-- form-item -->
									<div class="form-item form-item--half">
										<label class="form__label">이메일,<span>*</span>
										</label>
										<input class="form-control" type="text" name="input" placeholder=""/>
									</div><!-- End / form-item -->


									<!-- form-item -->
									<div class="form-item form-item--half">
										<label class="form__label">이름,<span>*</span>
										</label>
										<input class="form-control" type="text" name="input" placeholder=""/>
									</div><!-- End / form-item -->


									<!-- form-item -->
									<div class="form-item">
										<label class="form__label">메서지<span>*</span>
										</label>
										<textarea class="form-control"></textarea>
									</div><!-- End / form-item -->


									<!-- form-item -->
									<div class="form-item">
										<a class="md-btn btn-custom" href="#">보내기
										</a>
									</div><!-- End / form-item -->

								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->

			</div>
			<!-- End / Content-->

			<!-- footer -->
			<div class="footer">
				<div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
				<div class="container">
					<div class="footer__wrapper">
						<div class="footer__social">

										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
										</a><!-- End / social-icon -->


										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
										</a><!-- End / social-icon -->


										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
										</a><!-- End / social-icon -->


										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
										</a><!-- End / social-icon -->


										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
										</a><!-- End / social-icon -->

						</div>
						<p class="footer__copy">P3A Inc. 2018</p>
						<p class="footer__copy">&copy;Copyright ㏇ 2018 All Right Reserved.</p>
					</div>
				</div>
			</div><!-- End / footer -->

		</div>
		<!-- Vendors-->
		<script type="text/javascript" src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendors/isotope-layout/isotope.pkgd.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendors/jquery-one-page/jquery.nav.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendors/jquery.easing/jquery.easing.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendors/jquery.matchHeight/jquery.matchHeight.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendors/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendors/masonry-layout/masonry.pkgd.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendors/swiper/swiper.jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendors/menu/menu.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendors/typed/typed.min.js' %}"></script>
		<!-- App-->
		<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
	</body>
</html>
